.post{
    background-color: transparent;
    /* border: 6px solid #e9e9e9; */
    /* border-radius: 25px; */
    color:#1838ee;
    display:flex;
    height: 180px;
    width: 25%;
    padding: 15px;
    /* border: 2px solid rgb(84, 95, 95); */
    margin-top: 15px;
    font-family: "Lucida Console", "Courier New", monospace;
    cursor: pointer;
    overflow: hidden;
}


   
.post:hover {
background-color: rgb(228, 245, 0,0.5);
}

.post_content{
    text-overflow: clip;
    height: 80%;
    position: relative;
    top: 35%;
    left: 10%;
        
}

.post_btn{
    position: relative;
    top: 160px;
}
.title{
    position: relative;
    top: 20px;
        
}
.post-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}
