
.circle {
    width: 200px;
    height: 200px;
    line-height: 200px;
    border-radius: 50%;
    font-size: 41px;
    font-family:'ExquisiteCorpse', Jokerman, Marker Felt;
    padding: 0;
    text-align: center;
    text-shadow: 0.5px 0.5px 1px rgba(0, 0, 0, 0.3);
    
    color: #fff;
    text-align: center;
    background: radial-gradient(
        ellipse at center,
        rgba(210, 20, 20, 0.7) 0%,
      rgba(210, 20, 20, 0.7) 70%,
      rgba(210, 20, 20, 0) 70.3%
      );
    shape-outside: polygon(
      0 0,
      98% 0,
      50% 6%,
      23.4% 17.3%,
      6% 32.6%,
      0 50%,
      6% 65.6%,
      23.4% 82.7%,
      50% 94%,
      98% 100%,
      0 100%
    );
  }