img {
    /*width: 255px;*/
    /*height: 191px;*/
    width: 255px;
    height: 251px;
}
.member-short-info {
    display: flex;
    flex-direction: column;
    gap: 5px;
    /*height: 100%;*/
}
.member-img {
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    object-fit: cover;
    object-position: top;
}