.member-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    gap: 50px;
    font-size: 27px;
}
.links {
    display: flex;
    flex-direction: row;
    gap: 30px
}
.icon-member {
    transform: scale(1.3);
}